<% layout('./../layouts/default') -%>
<div class="widget pad30-65 pt-0 mb-5">
    <div class="row">
        <div class="col-md-12 mt-0">
            <div class="card bg-transparent">
                <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row mb-0">
                    <div class="contact-header-left media-body d-flex align-items-center mr-4 col-6">
                        <div class="page-title-box">
                            <div class="page-title-left">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/yards">Yard Manager</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" id="valid_add_stop">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label>Yard Name<span class="text-danger">*</span></label>
                                    <input type="text" name="yard_name" id="yard_name" class="form-control"  placeholder="Yard Name" pattern=/^[A-Za-z ]+$/.test(x)
                                        autocomplete="off" required>
                                    <div class="text-danger yard_name"></div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label>Yard Address<span class="text-danger">*</span></label>
                                    <input type="text" name="yard_address" id="yard-address" class="form-control"  placeholder="Yard Address" autocomplete="off" required>
                                    <div class="text-danger yard_address"></div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label>Location</label>
                                    <div class="white-box p5 radius5 contact-map" id="map-show-div"
                                        style="display: none;">
                                        <div id="map_canvas" style="height: 300px;width:100%;margin:0px;padding:0px;">
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="lat" id="lat" class="form-control mb-3" placeholder="Latitude" required>
                                <input type="text" name="lng" id="lng" class="form-control mb-3"
                                    placeholder="Longitude" required>
                            </div>

                            <div class="col-lg-12 text-left">
                                <div class="form-group mb-3 text-center">
                                    <button type="submit"
                                        id="add_yard"  class="btn btn-primary waves-effect waves-light">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(window).load(function () {
         $(function () {
             var activeInfoWindow;
             var lat = 26.914307401412476,
                 lng = 75.74375760688478,
                 latlng = new google.maps.LatLng(lat, lng),
                 image = '<%= siteUrl %>' + '/img/mappin.png';
                 console.log("_------------------",image);
             
             //zoomControl: true,
             //zoomControlOptions: google.maps.ZoomControlStyle.LARGE,
 
             var mapOptions = {
                 center: new google.maps.LatLng(lat, lng),
                 zoom: 13,
                 mapTypeId: google.maps.MapTypeId.ROADMAP,
                 panControl: true,
                 panControlOptions: {
                     position: google.maps.ControlPosition.TOP_RIGHT
                 },
                 zoomControl: true,
                 zoomControlOptions: {
                     style: google.maps.ZoomControlStyle.LARGE,
                     position: google.maps.ControlPosition.TOP_left
                 }
             },
                 map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions),
                 marker = new google.maps.Marker({
                     position: latlng,
                     map: map,
                     icon: image,
                     draggable: true,
                 });
 
             var input = document.getElementById('yard-address');
             var autocomplete = new google.maps.places.Autocomplete(input, {
                 types: ["geocode"]
             });
 
             autocomplete.bindTo('bounds', map);
             var infowindow = new google.maps.InfoWindow();
 
             google.maps.event.addListener(autocomplete, 'place_changed', function (event) {
                 infowindow.close();
                 var place = autocomplete.getPlace();
                 if (place.geometry.viewport) {
                     map.fitBounds(place.geometry.viewport);
                 } else {
                     map.setCenter(place.geometry.location);
                     map.setZoom(17);
                 }
 
                 moveMarker(place.name, place.geometry.location);
                 $('#lat').val(place.geometry.location.lat());
                 $('#lng').val(place.geometry.location.lng());
             });
             google.maps.event.addListener(marker, 'dragend', function (event) {
                 $('#lat').val(event.latLng.lat());
                 $('#lng').val(event.latLng.lng());
                 infowindow.close();
                 var geocoder = new google.maps.Geocoder();
                 geocoder.geocode({
                     "latLng": event.latLng
                 }, function (results, status) {
                    
                     if (status == google.maps.GeocoderStatus.OK) {
                        
                         var lat = results[0].geometry.location.lat(),
                             lng = results[0].geometry.location.lng(),
                             placeName = results[0].address_components[0].long_name,
                             latlng = new google.maps.LatLng(lat, lng);
 
                         moveMarker(results[0].formatted_address, event.latLng);
                         console.log(results[0].formatted_address)
                         $("#yard-address").val(results[0].formatted_address);
                         // $("#add_center").valid();
                     }
                 });
             });
 
             function moveMarker(placeName, latlng) {
 
                 marker.setIcon(image);
                 marker.setPosition(latlng);
                 infowindow.setContent(placeName);
                 map.setCenter(latlng);
                 google.maps.event.addListener(marker, 'click', function () {
			
                     if (activeInfoWindow != null)
                         activeInfoWindow.close();
 
                     infowindow.open(map, marker);
                     activeInfoWindow = infowindow;
                 });
             }
         });
         $('#map-show-div').show();
     });
     </script>  

<script src="https://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=true&key=AIzaSyDXXrSF7NlK0ZGSuRtfQv2VNgYMYCE8fyw"></script>