<% layout('layouts/default') -%>
<div class="row marginLess25">
    <div class="col-sm-12 mb-2">
        <div class="page-title-box">
            <h3 class="page-title">Change Password</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="widget pad50-60">
            <div class="card-body">
                <form id="changePassForm" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label>Current Password</label>
                                    <input type="password" name="currentPassword" class="form-control" placeholder="Current Password"
                                           autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                    <div class="text-danger currentPassword"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label>New Password</label>
                                    <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password"
                                           autocomplete="off" required>
                                    <div class="text-danger newPassword"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label>Confirm Password</label>
                                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password"
                                           autocomplete="off" required>
                                    <div class="text-danger confirmPassword"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-right">
                                <div class="form-group mb-3 text-right">
                                    <button id="submitChangePassForm" type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

