<header class="side-header expand-header">
  <div class="nav-head">Main Navigation<span class="menu-trigger active"><i class="ion-android-menu"></i></span></div>
    <nav class="custom-scrollbar">
      <ul class="drp-sec">
        <li class="#"><a href="/" title=""><i class="ion-home"></i> <span>Dashboard</span></a>
        </li>
      </ul>
      <h4>Managers</h4>
      <ul class="drp-sec">
        <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Users Manager</span></a>
          <ul class="sb-drp">
            <li><a href="/users" title="">Users</a></li>
          </ul>
        </li>
        <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Driver Manager</span></a>
          <ul class="sb-drp">
            <li><a href="/driver" title="">Driver</a></li>
          </ul>
        </li>
        <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Request Manager</span></a>
          <ul class="sb-drp">
            <li><a href="/requests" title="">Requests</a></li>
          </ul>
        </li>

        <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Yard Manager</span></a>
          <ul class="sb-drp">
            <li><a href="/yards" title="">Yards</a></li>
          </ul>
        </li>

        <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Vehicle Manager</span></a>
          <ul class="sb-drp">
            <li><a href="/vehicle" title="">Vehicle</a></li>
            <li><a href="/vehicletype" title="">Vehicle Type</a></li>
          </ul>
        </li>
        <li class="has-drp"><a href="#" title=""><i class="ion-clipboard"></i> <span>Static Page</span></a>
          <ul class="sb-drp">
            <li><a href="/auth/privacy_policy" title="">Privacy Policy</a></li>
            <li><a href="/auth/about_us" title="">About us</a></li>
            <li><a href="/auth/terms_conditions" title="">Terms Conditions</a></li>
            <li><a href="/auth/refund_cancellation" title="">Refund Cancellation</a></li>
            <li><a href="/auth/faq" title="">FAQ</a></li>
          </ul>
        </li>
        <li><a href="/profile" title=""><i class="ion-clipboard"></i> <span>My Profile</span></a></li>
        <li><a href="/auth/log-out" title=""><i class="ion-clipboard"></i> <span>Logout</span></a></li>
      </ul>
    </nav>
</header>